body {
 background-color: #000000;
 color: #dddddd;
 margin-left: 2mm !important;
 margin-right: 2mm !important;
 word-wrap:break-word !important;
}

.highlighted { 
	background-color : orange !important;
}

/*For Illustration Gallery*/
ul {
    line-height: 1.5em;
    list-style-type: square;
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}
ul.gallery {
    display: block;
    margin: 2px;
    padding: 2px;
}
li {
    margin-bottom: 0.1em;
}
li.gallerybox {
    border: 2px solid #222222;
    display: inline-block;
    vertical-align: top;
}
li.gallerybox div.thumb {
    background-color: #060606;
    border: 1px solid #333333;
    margin: 2px;
    text-align: center;
}
div.thumb {
    background-color: transparent;
    margin-bottom: 0.5em;
    width: auto;
}
div.gallerytext {
    font-size: 94%;
    overflow: hidden;
    padding: 2px 4px;
    word-wrap: break-word;
}
/*For Image Thumbnail in Content*/
div.tright {
    margin: 0.5em 0 1.3em 1.4em;
}
div.thumb {
    background-color: transparent;
    margin-bottom: 0.5em;
    width: auto;
}
div.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}
div.thumbinner {
    background-color: #060606;
    border: 1px solid #333333;
    font-size: 94%;
    overflow: hidden;
    padding: 3px !important;
    text-align: center;
}
html .thumbcaption {
    border: medium none;
    font-size: 94%;
    line-height: 1.4em;
    padding: 3px !important;
    text-align: left;
}
.thumbcaption {
    text-align: left;
}
/*Link*/
a {
    background: none repeat scroll 0 0 transparent;
    color: #F9BA52;
    text-decoration: none;
}

/* Hide unwanted elements*/
#siteSub, #catlinks, #jump-to-nav, .printfooter, .editsection, .collapsed /*, .thumbcaption, .toc*/ {
	display:none !important;
}

/* hide {{Template:PREVIEW}} which have bad class name: {{{id}}} */
table.\{\{\{id\}\}\} {
    display:none !important;
}

/* Modified for larger touch area */
.reference {
	letter-spacing: 10px;
}
.mw-cite-backlink{
	font-size: xx-large;
	letter-spacing: 10px;
}

/* Wikitable */
table.wikitable {
	margin: 1em 1em 1em 0;
	background-color: #060606 !important;
	border: 1px #555 solid;
	border-collapse: collapse;
	color: white;
}

table.wikitable>tr>th, table.wikitable>tr>td,table.wikitable>*>tr>th,table.wikitable>*>tr>td {
	border: 1px #555 solid;
	padding: 0.2em;
}

table.wikitable>tr>th, table.wikitable>*>tr>th {
	background-color: #0D0D0D !important;
	text-align: center;
}

table.wikitable>caption {
	font-weight: bold;
}

/* All table without css class defined */
table:not([class]) {
	background-color: #1D1D1D !important;
}
