<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erakk.lnreader"
    android:installLocation="auto"
    android:versionCode="20131226"
    android:versionName="1.1.13b-Merry-Christmas" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.erakk.lnreader.LNReaderApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.erakk.lnreader.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayLightNovelListActivity"
            android:label="@string/title_activity_display_light_novels" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplaySettingsActivity"
            android:label="@string/title_activity_display_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity android:name="com.erakk.lnreader.activity.DisplaySearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayTeaserListActivity"
            android:label="@string/title_activity_display_light_novels" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayOriginalListActivity"
            android:label="@string/title_activity_display_light_novels" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayAlternativeNovelListActivity"
            android:label="@string/title_activity_display_alternative_novels" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayLightNovelDetailsActivity"
            android:label="@string/title_activity_light_novel_chapters" 
            android:configChanges="orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.DisplayLightNovelListActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayLightNovelContentActivity"
            android:label="@string/title_activity_display_novel_content" 
            android:configChanges="orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.DisplayLightNovelDetailsActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayImageActivity"
            android:label="@string/title_activity_display_image" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.DisplayLightNovelContentActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayBookmarkActivity"
            android:label="@string/title_activity_display_bookmark"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DownloadListActivity"
            android:label="@string/title_activity_download_list"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayNovelPagerActivity"
            android:label="@string/title_activity_display_novel_pager"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.DisplayAlternativeNovelPagerActivity"
            android:label="@string/title_activity_display_alternative_novel_pager"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.UpdateHistoryActivity"
            android:label="@string/title_activity_update_history"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.TestDisplayNovelActivity"
            android:label="Test"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.TestDisplayNovelActivityTwo"
            android:label="Test2"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.erakk.lnreader.activity.TestDisplayNovelDetailsActivity"
            android:label="Test2 Details"
            android:parentActivityName="com.erakk.lnreader.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>

        <service
            android:name="com.erakk.lnreader.service.TtsService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/tts_service_name"
            android:process="" >
        </service>
        <service
            android:name="com.erakk.lnreader.service.UpdateService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/update_service_name"
            android:process="" >
        </service>
        <service
            android:name="com.erakk.lnreader.service.AutoBackupService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/auto_backup_service_name"
            android:process="" >
        </service>

        <receiver android:name="com.erakk.lnreader.service.UpdateScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.erakk.lnreader.service.UpdateStartServiceReceiver" >
        </receiver>
        
        <receiver android:name="com.erakk.lnreader.service.AutoBackupScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.erakk.lnreader.service.AutoBackupStartServiceReceiver" >
        </receiver>

        <activity
            android:name="com.erakk.lnreader.activity.DisplayCreditActivity"
            android:label="@string/title_activity_display_credit" >
        </activity>
        
        <activity
            android:name="com.erakk.lnreader.activity.DisplayChangelogActivity"
            android:label="@string/title_activity_display_changelog" >
        </activity>
    </application>

</manifest>