<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erakk.lnreader"
    android:versionCode="1"
    android:versionName="20121003" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher_lnreader"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.erakk.lnreader.LNReaderApplication"
        android:hardwareAccelerated="true" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DisplayLightNovelListActivity"
            android:label="@string/title_activity_display_light_novels" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.DisplaySettingsActivity"
            android:label="@string/title_activity_display_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.MainActivity" />
        </activity>
        <activity 
            android:name=".activity.DisplayLightNovelDetailsActivity"
            android:label="@string/title_activity_light_novel_chapters" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.DisplayLightNovelListActivity" />
        </activity>
        <activity
       	 	android:name=".activity.DisplaySynopsisActivity"
            android:label="@string/title_activity_display_synopsys" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.DisplayLightNovelListActivity" />
        </activity>
        <activity
       	 	android:name=".activity.DisplayLightNovelContentActivity"
            android:label="@string/title_activity_display_novel_content" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.DisplayLightNovelDetailsActivity" />
        </activity>
        <activity			android:name=".activity.DisplayImageActivity"
            android:label="@string/title_activity_display_image" >
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.activity.DisplayLightNovelContentActivity" />
        </activity>
        
        <service
            android:name=".service.UpdateService"
            android:icon="@drawable/ic_launcher_lnreader"
            android:label="@string/service_name"
            android:process="" >
        </service>

        <receiver android:name=".service.MyScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.MyStartServiceReceiver" >
        </receiver>
        
    </application>

</manifest>