<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erakk.lnreader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayLightNovelsActivity"
            android:label="@string/title_activity_display_light_novels" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayWatchListActivity"
            android:label="@string/title_activity_display_watch_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.MainActivity" />
        </activity>
        <activity
            android:name=".DisplaySettingsActivity"
            android:label="@string/title_activity_display_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.MainActivity" />
        </activity>
        <activity
            android:name=".LightNovelChaptersActivity"
            android:label="@string/title_activity_light_novel_chapters" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader.MainActivity" />
        </activity>
        <activity
            android:name=".DisplaySynopsysActivity"
            android:label="@string/title_activity_display_synopsys" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.erakk.lnreader" />
        </activity>
    </application>

</manifest>